.searchbox {

	width:360px;
	background-color: #FFF;
	padding: 50px 65px;
	position:relative;
	left:0;
	z-index: 10;
	margin: 0 auto;
	 @media #{$tablet} { position: absolute;}

	input[type="number"], input[type="text"], select {

		background-color: #f0f4f7;
		border: none;
		text-align: center;
		color: $color-bg-darkblue;
		font-family: 'Montserrat', sans-serif;
		font-weight: 300;
		width:230px;
		margin: 5px 0;
   		font-size: 0.8em;
   		padding:9px;
	}

	select {
		text-align-last:center;
    background: #f0f4f7 url('../img/select-arrow-down.png') no-repeat;
    background-size: 20px;
    background-position:  left 10px center;
    -webkit-appearance: none;
    -moz-appearance: none;

	}

	input[type="submit"] {
		width:100%;
		padding: 15px;
		text-transform: uppercase;
		color: #FFF;
		font-size: 1em;
		font-weight: 600;
		border:none;
		background-color:#0e7cc1;
		margin:20px 0;

		&:hover {background-color: #11BDE4;}
	}

	.see-on-map {
		text-transform: uppercase;
		line-height: 2em;
		margin:10px 0;
		img { margin-top: -10px; margin-right: 10px;}
	}

	label {font-size: 0.8em; margin:10px 0;}

	input.sm, label.sm  {width:107px;}

.checklabel {color: $color-bg-darkblue; padding-left:30px; display: block; position: relative; cursor: pointer; -webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.checklabel input { position: absolute; opacity: 0; cursor: pointer;}
.checkmark { position: absolute;  top: 0; left: 0; height: 20px; width: 20px; border:1px solid #214687; border-radius: 3px;}
.checkmark.wk{ top:30px;}
.checkmark.dk{ right: 0; position: relative; display: inline-block; top: 5px;}
.checkmark:after { content: ""; position: absolute; display: none;}
.checklabel  input:checked ~ .checkmark:after { display: block;}
.checklabel .checkmark:after {left: 6px; top: 2px; width: 5px;height: 10px; border: solid #4caf50; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
.checklabel.sm {width:112px; display: inline-block;}

#area-slider, #price-slider,  {margin:10px 0;}
.ui-slider-horizontal { height: 3px; background-color: #b3c7d6; border-color: #dae4eb;}
.ui-widget-header {background-color: #0e7cc1;}

.ui-slider .ui-slider-handle { background-color: #00add5; height:10px; width: 10px; border-radius: 5px; border:0; }


}

.topsearch {

	width:100%;
	background-color: $color-bg-darkblue;
	padding: 10px;
	position:relative;

	.row {text-align: right;}
	.bg {position: relative;}
	.hide-search {
		cursor: pointer;
		@media #{$tablet} { position: absolute;  right:0;  top:-50px; }
		}
	form { 
		text-align: center;
		@media #{$tablet} { text-align: right; }
	}

.search-wrap {
	width:160px;
	margin-left:10px;
	display: inline-block;
	color:#FFF;
	font-size: 0.7em;
	text-align: center;
	vertical-align: top;
}

	input[type="number"], input[type="text"], select {

		background-color: #486597;
		border: none;
		text-align: center;
		color: #FFF;
		font-family: 'Montserrat', sans-serif;
		font-weight: 300;
		width:160px;
		margin: 5px 0;
   		padding: 10px 9px;

   		&::placeholder { color: #FFF; opacity: 0.8; }
	}

	input[type=number]::-webkit-inner-spin-button, 	input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none !important;
    margin: 0 !important;
    -moz-appearance:textfield !important;
	}



	select {
		text-align-last:center;
    background: #486597 url('../img/select-arrow-down.png') no-repeat;
    background-size: 20px;
    background-position:  left 10px center;
    -webkit-appearance: none;
    -moz-appearance: none;

	}

	input[type="submit"] {
		width:100%;
		padding: 15px;
		text-transform: uppercase;
		color: #FFF;
		font-size: 1em;
		font-weight: 600;
		border:none;
		background-color:#0e7cc1;
		margin:20px 0;
	}

	.see-on-map {
		text-transform: uppercase;
		line-height: 2em;
		margin:10px 0;
		img { margin-top: -10px; margin-right: 10px;}
	}

	label {font-size: 0.8em; margin:10px 0;}

	input.sm, label.sm  {width:72px; padding:4px 5px;}

.checklabel {color: $color-bg-darkblue; padding-left:30px; display: block; position: relative; cursor: pointer; -webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.checklabel input { position: absolute; opacity: 0; cursor: pointer;}
.checkmark { position: absolute;  top: 0; left: 0; height: 20px; width: 20px; border:1px solid #214687; border-radius: 3px;}
.checkmark.wk{ top:30px;}
.checkmark.dk{ right: 0; position: relative; display: inline-block; top: 5px;}
.checkmark:after { content: ""; position: absolute; display: none;}
.checklabel  input:checked ~ .checkmark:after { display: block;}
.checklabel .checkmark:after {left: 6px; top: 2px; width: 5px;height: 10px; border: solid #4caf50; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
.checklabel.sm {width:112px; display: inline-block;}

#area-slider, #price-slider, #room-slider, #floor-slider {margin:5px 0;}
.ui-slider-horizontal { height: 3px; background-color: #486597; border:1px solid #35558c!important;}
.ui-widget-header {background-color: #0e7cc1;}

.ui-slider .ui-slider-handle { background-color: #00add5; height:10px; width: 10px; border-radius: 5px; border:0; }


}

section.search-grid{

	
	@media #{$tablet} { margin-left: 360px; min-height: 800px;}
	
	.container.bg { max-width: 1240px; margin:30px auto 20px;}
	&.featured {
		margin-left:0;
		.container.bg { max-width: 1400px; }
	}
	

	    .image-slider-wrap {
      
      position: relative;
      margin: 5px 0px 20px; 
      max-width: 400px;   
      @media #{$tablet} {  margin: 5px 0px 40px;}

      .show-button{
		position: absolute;
		bottom:80px;
		width:140px;
		margin: 0 auto;
		left:0;
		right:0;
		display: none;
		background-color: $color-tirkizs;
	    color: #FFF;
	    z-index: 10;
	    padding: 10px;
   		 text-align: center;
   		 text-transform: uppercase;
   		 font-size: 0.9em;
   		 cursor: pointer;
		 &:hover{background-color: #11bde4;}
      }
      .next-img, .prev-img {
      	width:30px;
      	height:30px;
      	position: absolute;
      	display: none;
      	bottom:130px;
      }
      .next-img {
      	right:30px;
      	background: url('../img/tr-ico-right.png') no-repeat;
      }

       .prev-img {
       	left:30px;
      	background: url('../img/tr-ico-left.png') no-repeat;
      }

      &:hover {
      	border:1px solid $color-tirkizs;
      	margin-left:-1px;
      	margin-right: -1px;
      	margin-top: 3px;
      	.show-button { display: block;}
      	.next-img, .prev-img { display: block;}
      }


      .image-wrap{
      				height:200px;
			 @media #{$tablet} { height:200px;}
     		 @media #{$mid} { height:10vw; }
     		 overflow: hidden;

      	.single-image{
      		display: inline-block;
      		background-size: cover;
      		    background-position: center;
			height:200px;
			width: 100%;
			 @media #{$tablet} { height:200px;}
     		 @media #{$mid} { height:10vw; }

      	}
      }
          .featured-description {      
          height:100px;
          background-color: #FFF;
          padding:22px;
          color:$color-bg-darkblue;
          position: relative;
          font-size: 0.8em;
          width:100%;
          @media #{$tablet} {   }    
          h4 {font-weight: 400;}
          p {font-size:0.8em; margin-top:15px;}
        }

        .btn {
          position: absolute;
          bottom:20px;
          left:34%;
          padding: 12px 40px;
           &::after {z-index: 1;}
         }
    }
}

section.map-bg{
	height:200px;
	width:100%;
	background-color: #fafafa;
	margin-bottom: -50px;
	position: relative;

	.container {height:100%; position: relative;}

	#map-bg{width: 100%; height: 100%;}
	.map-overlay {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height: 100%;
		background-color: #2346828a;
		color:#FFF;

		.show-on-map {
			position: absolute;
			 right:30px;
			  bottom:100px; 
			  text-transform: uppercase;
			  font-size: 0.8em;
		img { margin-top: -10px; margin-right: 10px;}
		a {color:#FFF;}
		a:hover {color:#c3c3c3}
		}

	}
}



section.search-big-grid{
	
	@media #{$tablet} { min-height: 800px;}

	    .new-project {      
      position: relative;
      margin: 5px 0px 20px;    
      @media #{$tablet} {  margin: 5px 0px 40px;}

     
      &:hover {
      	.show-button { display: block;}
      }


      	.single-image{
       		background-size: cover;
       		position: relative;
       		background-position: center;
			height:300px;
			width: 100%;
			 @media #{$tablet} { height:300px;}
     		 @media #{$mid} { height:20vw; }

     		 .icon {
     		 	display: none;
     		 	position: absolute;
     		 	background-color: #FFF;
     		 	color: $color-bg-darkblue;
     		 	width:80px;
     		 	height: 65px;
     		 	right:0;
     		 	font-size: 0.5em;
     		 	text-align: center;
     		 	padding-top:13px;
     		 	z-index: 20;
     		 	img{margin-bottom: 8px;}




     		 	&:hover {
					background-color: #0e7cc1;
					color:#FFF;

    		 		&:before{
    		 			content: '';
    		 			position: absolute;
    		 			display: block;
    		 			width:20px;
    		 			height:50px;
     		 			border-right: 22px solid #0e7cc1;
					    border-bottom: 30px solid transparent;
					    border-top: 30px solid transparent;
						top: 4px;
						left: -15px;
     		 		}
 
     		 	}
     		 }

     		 .on-map {top:50px;}
     		 .on-text {top:125px;}
     		 .on-visit {top:200px;}

     		 .on-text-wrap, .on-map-wrap {
     		 	width: 98%;
			    height: 97%;
			    background-color: #ffffffc4;
			    position: absolute;
			    top: 3%;
			    left: 2%;
			    padding: 7% 80px 7% 7%;
			    display: none;
			    z-index: 10;
			    color: $color-bg-darkblue;

			    h4 {margin-bottom: 20px;}
     		 }

     		 .on-map-wrap {
     		 	padding:0;

     		 	.np-map {height: 100%; width:100%;}
     		 }

     		 .on-text:hover ~.on-text-wrap {display: block;}
     		 .on-map:hover ~.on-map-wrap {display: block;}

      	}

          .featured-description {      
          height:150px;
          background-color: #FFF;
          padding:50px 20px 20px 10%;
          color:$color-bg-darkblue;
          position: relative;
          font-size: 0.8em;
          width:100%;
          @media #{$tablet} {   }    
          h4 {font-weight: 400;}
          p {font-size:0.8em; margin-top:15px;}
        }


        .project-title{
		position: absolute;
		bottom:120px;
		width:55%;
		left:5%;
		background-color: #0e7cc1;
	    color: #FFF;
	    z-index: 10;
	    padding: 20px 0 20px 35px;
   		text-align: left;
   		font-weight: 600;
      }

      .btn{
      	z-index: 10;
	    position: absolute;
	    left: 60%;
	    bottom: 120px;
	    padding: 24px 30px;
	    display: block;
	    @media #{$mid} { display: none;  } 

	    &:after{
	    border-left: 22px solid #00add5;
	    border-bottom: 30px solid transparent;
	    border-top: 30px solid transparent;
	    top: 0px;
        right: -10px;
	    }

	    &:hover:after {border-left: 22px solid #11BDE4;}


      }


   		.project-logo {
   			position: absolute;
   			right:30px;
   			bottom:20px;
   			display: none;
   			@media #{$mid} { display: block;  } 
   		}

   		&:hover .btn {display: block;}
   		&:hover .single-image .icon {
   			display: none;
		@media #{$mid} { display: block;  } 
   		}

    }
}

section.map-search{


	position: relative;

	.container { position: relative;}

	#map-search{
		width: 100%; height: 480px;
		@media #{$tablet} { height: 800px;  }}

}



.gmap-infowindow{

	
width:250px;
height:250px;


	    .image-slider-wrap {
      
      position: relative;

      .show-button{
		position: absolute;
		bottom:80px;
		width:100px;
		margin: 0 auto;
		left:0;
		right: 0;
		background-color: $color-tirkizs;
	    color: #FFF;
	    z-index: 10;
	    padding: 10px;
   		 text-align: center;
   		 text-transform: uppercase;
   		 font-size: 0.7em;
   		 cursor: pointer;
   		 &:hover{background-color: #11bde4;}

      }
      .next-img, .prev-img {
      	width:30px;
      	height:30px;
      	position: absolute;
      	bottom:130px;
      }
      .next-img {
      	right:30px;
      	background: url('../img/tr-ico-right.png') no-repeat;
      }

       .prev-img {
       	left:30px;
      	background: url('../img/tr-ico-left.png') no-repeat;
      }




      .image-wrap{
      				height:150px;

     		 overflow: hidden;

      	.single-image{
      		display: inline-block;
      		background-size: cover;
			height:150px;
			width: 100%;
      	}
      }
          .featured-description {      
          height:100px;
          background-color: #FFF;
          padding:20px 10px 10px;
          color:$color-bg-darkblue;
          position: relative;
          width:100%;
        }

        .btn {
          position: absolute;
          bottom:20px;
          left:34%;
          padding: 12px 40px;
           &::after {z-index: 1;}
         }
    }
}

body.map-search{@media #{$tablet} { .searchbox { top: 230px;}}}
section.map-search{margin-bottom: 100px;}

.gmap-group-infowindow {
	background-color: #FFF;
	 width:250px;
	 padding:10px 10px 30px;
	 color:$color-bg-darkblue;
	 font-size: 1em;
	 td {padding:4px 2px;}
	 h4 {color: $color-tirkizs; padding: 15px; font-weight: 400; font-size: 1.1em;}
	 tr:hover {background-color: #dbe4ed;}
	}
