<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
<table width="300" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td colspan="2" align="left" style="font-size:16px; padding-bottom:5px; font-family:Ubuntu,Helvetica,Arial,Sans Serif; color:#1b4792">
      <strong> Egīls Smilktiņš </strong>
   </td>
    </tr>
    <tr>
      <td colspan="2" align="left" style="font-size:11px; padding-bottom: 10px; font-family:Ubuntu,Helvetica,Arial,Sans Serif; color:#0f7dc1">
       <strong>Valdes loceklis <br />
       Sertificēts aģents</strong>
  </td>
    </tr>
    <tr>
      <td colspan="2" align="left" style="font-size:11px;  border-bottom:1px solid #1b4792; margin-bottom:10px; padding-bottom:20px; font-family:Ubuntu,Helvetica,Arial,Sans Serif; color:#1b4792">
       mob.: <a style="text-decoration:none;color:#1b4792""  href="tel:+37125972026"> (+371) 25972026 </a> <br />
       e-pasts: <a style="text-decoration:none;color:#1b4792"" href="mailto:egils.smilktins@starlex.lv">egils.smilktins@starlex.lv</a>
  </td>
    </tr>
    <tr >
      <td align="left"  width="200" >
      
      <img src="logo.png" width="200" height="95" alt="starlex logo"/>
  </td>
      <td align="left" style="font-size:11px;  font-family:Ubuntu,Helvetica,Arial,Sans Serif; color:#1b4792">
      P.Brieža 6-6 <br />
      Rīga, LV-1045<br />
      <strong><a style="text-decoration:none; color:#1b4792"" href="http://www.starlex.lv">www.starlex.lv</a></strong>
  </td>
    </tr>
  </tbody>
</body>
</html>
